<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1"> Gestion de Negocio</h1>
            <h3 class="mb-5">
                <em> Guarda tus productos aqui !</em>
            </h3>
            <a href="/login" class="btn btn-primary"> Comenzar</a>
        </div>
    </header>

</main>